@font-face {
    font-family: dos;
    src: url('../fonts/dos.ttf');
}

body {
    font-family: dos;
    background: #000;
}

#container {
    position: relative;
    padding-top: 20px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}
#header {
    width: 640px;
    height: 40px;
}
#header a.xonix {
    font-size: 46px;
    color: #901290;
    text-decoration: none;
}
#header div.like {
    float: right;
}
#footer {
    margin-top: 20px;
    width: 640px;
    height: 40px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
/*
#intro {
    position: absolute;
    width: 640px;
    height: 80px;
    animation: INTRO 3s infinite;
    -webkit-animation: INTRO 2s 1;
    -moz-animation: INTRO 2s 1;
    -ms-animation: INTRO 2s 1;
}
keyframes INTRO {
    0% { top: -100px; }
    100% { top: 0; }
}
@-webkit-keyframes INTRO {
    0% { top: -100px; }    
    100% { top: 0; }
}
@-moz-keyframes INTRO {
    0% { top: -100px; }    
    100% { top: 0; }
}
@-ms-keyframes INTRO {
    0% { top: -100px; }    
    100% { top: 0; }
}
*/
#canvas {
    margin-top: 20px;
    background: #00A8A8;
    width: 640px;
    height: 460px;
}
#status {
    position: relative;
    width: 640px;
    height: 28px;
    color: #fff;
    font-size: 28px;
}
#status label { position: absolute; }
#status label.score { left: 0px; }
#status label.lives { left: 225px; }
#status label.conqured { left: 330px; }
#status label.timer { left: 510px; }