<div id="game" class="page">
    <div>
        <canvas id="canvas" width="640" height="460"></canvas>
    </div>
    <div id="status">
        <label class="score">Score: <span id="score">0</span></label>
        <label class="lives">Xn: <span id="lives">3</span></label>
        <label class="conqured">Full: <span id="conqured">0</span>%</label>
        <label class="timer">Time: <span id="timer">90</span></label>
    </div>
</div>