<div id="scoreBoard" style="position: relative; width:100%; height:100%; top:0px; left:0px; background: #000000; color: #ffffff; font-size: 30px;">
    <div style="text-align: center; margin-top: 10px;">
        HIGHSCORES TABLE
    </div>
    <table id="scoreBoard_table" style="color: #ffffff; margin: auto; margin-top: 30px; font-size: 22px; ">
        <% for (var i=0; i < this.length; i++) { %>
        <tr>
            <td style="width: 50px;"><%= i + 1 %></td>
            <td style="width: 200px;"><%= this[i].name %></td>
            <td><%= this[i].score %></td>
        </tr>
        <% } %>
    </table>

</div>