<div id="gameOver">
    <div>
        SCORE: <span id="score_val"><%= score %></span>
    </div>
    <div>
        YOUR SCORE IS ONE OF THE BEST 15.
    </div>
    <div>
        ENTER YOUR NAME: <span id="user_name"></span><span id="cursor">_</span>
    </div>
</div>