<div id="gameOver" class="page">
    <div>
        SCORE: <span id="score_val"><%= score %></span>
    </div>
    <div>
        YOUR SCORE IS ONE OF THE BEST <span id="leaderboard_val"><%= leaderboard %></span>.
    </div>
    <div>
        ENTER YOUR NAME: <span id="user_name"></span><span id="cursor">_</span>
    </div>
</div>